* {
  box-sizing: border-box;
}

html {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  line-height: 1.15;
}

body {
  display: flex;
  flex-direction: column;
  background: url(../img/background.jpg);
  background-color: #3a3a3a;
  background-position: 50% 0;
  align-items: center;
}

.wrapper {
  max-width: 850px;
  padding: 0 15px;
  flex-grow: 1;
}

a {
  text-decoration: none;
  background-color: transparent;
}

li {
  line-height: 1.5;
}