.footer {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;

  .wrapper {
    display: flex;
    margin-top: 37px;
  }

  .twitter {
    display: flex;
    flex-wrap: wrap;

    &__image {
      flex: 0 0 55px;
    }

    &__description {
      flex: 1 0 100px;

      &-title {
        display: block;
        color: #ffffff;
        font-size: 2rem;
      }

      &-slogan {
        color: #727272;
      }
    }

    &__post {
      position: relative;
      flex: 1 0 calc(100% - 67px);
      padding: 20px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.4);

      &::before {
        position: absolute;
        top: -19px;
        left: 0;
        content: url(../img/twitter-speech-bubble.png);
      }

      @include xs-small-min {
        margin: 12px 30px 30px 37px;
      }

      &-text {
        color: $base-color;
        line-height: 18px;
      }

      &-date {
        color: $accent-color;
        font-size: 0.83rem;
        font-style: italic;
      }
    }
  }

  .copyright {
    color: #ffffff;

    @include min-lg {
      margin: 57px 15px 15px 15px;
      text-align: right;
    }
  }

  &-logo {
    margin: 15px;

    @include min-sm {
      text-align: right;
    }
  }
}
